<div class="container-fluid">
    <div class="row">
        <sidebar></sidebar>
        <div class="main-views animated fadeIn">
            <header></header>
            <div class="table" ng-controller="employeesController">
                <table>
                    <tr class="table-header">
                        <th class="rowTitle"></th>
                        <th class="rowTitle">Name</th>
                        <th class="rowTitle">ID No.</th>
                        <th class="rowTitle">Job Title</th>
                        <th class="rowTitle">Department</th>
                        <th class="rowTitle">Status</th>
                    </tr>
                    <tr class="table-content" ng-repeat="emp in employees | filter:searchEmp">
                        <td class="photo emp"><img src="{{emp.photo}}"></td>
                        <td class="name emp"><a class="name">{{emp.lastName + ", " + emp.firstName + " " + emp.middleName + "."}}</a></td>
                        <td class="id emp">{{emp.empID}}</td>
                        <td class="jtitle emp">{{emp.jobTitle}}</td>
                        <td class="dept emp">{{emp.department}}</td>
                        <td class="jstatus emp">{{emp.jobStatus}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <navbar></navbar>
    </div>
</div>
