<div class="container-fluid">
    <div class="row">
        <sidebar></sidebar>
        <div class="main-views animated fadeIn">
            <payroll-period-header></payroll-period-header>
            <div class="table" ng-controller="payrollPeriodController">
                <table>
                    <tr class="table-header">
                        <th class="rowTitle">Period Code</th>
                        <th class="rowTitle">Month</th>
                        <th class="rowTitle">Year</th>
                        <th class="rowTitle">Payroll Term</th>
                        <th class="rowTitle">Date Covered</th>
                    </tr>
                    <tr class="table-content" ng-repeat="pay in payrollPeriod | filter:searchEmp">
                        <td class="payroll periodCode">{{ pay.periodCode}}</td>
                        <td class="payroll"><a href="#" editable-select="monthSelected.monthID" buttons="no" e-ng-options="s.value as s.month for s in months">{{ showMonth() }}</a></td>
                        <td class="payroll">{{pay.year}}</td>
                        <td class="payroll"><a href="#" editable-select="payrollTermSelected.payrollTermID" buttons="no" e-ng-options="s.value as s.term for s in payrollTerms">{{ showPayrollTerm() }}</a></td>
                        <td class="payroll">
                            <a href="#" editable-bsdate="dateCovered.dob" e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="dd-MMMM-yyyy">
                                {{ (dateCovered.dob | date:"dd/MM/yyyy") || 'empty' }}
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <navbar></navbar>
    </div>
</div>
